@model  MVCDataBase.Models.Siniflar.Ulke

<h2> Yeni Kayıt İşlemi</h2>
<form method="post">
    <div class="row">
        <div class="col-md-7">



            <lable> Id </lable>
            <input class="form-control" type="text" value="@Model.UlkeId" name="UlkeId" />
            <label>Ad</label>
            <input class="form-control" type="text" value="@Model.UlkeAd" name="UlkeAd" />
            <input class="btn-btn-primary " type="submit" value="Kaydet" />

        </div>

    </div>
</form>
