@model  MVCDataBase.Models.Siniflar.Unvan  

<h2> Güncelleme İşlemi</h2>
<form method="post">
    <div class="row">
       <div class="col-md-7">



        <lable> Id </lable>
        <input class="form-control" type="text" value="@Model.UnvanId" name="UnvanId" />
        <label>Ad</label>
        <input class="form-control" type="text" value="@Model.UnvanAd" name="UnvanAd" />
        <input class="btn-btn-success " type="submit" value="Guncelle" />

       </div>

    </div >
</form>


